/* 웹기능사용 리셋*/
*{margin: 0; padding: 0;}
a{color: black; text-decoration: none;}
li{list-style: none;}

/* 폰트 소스 */
@font-face {
    font-family: 'GSL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 공통 클래스 절대절대 수정하면 안됨 */
.container{width:1200px; margin:0 auto;}
.rel{position : relative;}
.abs{position : absolute;}
.fixed{position: fixed;}

.d-flex{display:flex;}
.d-block{display: block;}
.justify-content-between{justify-content: space-between;}
.align-items-center{align-items: center;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

/* 계산한다 내 크기의 100%에서 10px 작게 */
#hd img{width: calc(100% - 1rem);}

#hd img:last-child, h1:hover img:first-child{display: none;}
#hd h1:hover img:last-child{display: block;}
#hd {background-color: black; padding: 10px;}
#gnb a{display: block;}

#gnb .d1{
    color: white;
    font-size: 2em;   
    padding: 1rem 1rem;
}

#gnb li:hover .d1{
    color: blue;
}

/* 소메뉴 공통 설정 */
#gnb .d2{
    background-color: skyblue;
    line-height : 2.5;  
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    font-size: 1.2rem;
    padding: 0 1.5rem;
    left: 0;
    right: 0;
    min-width:80px;
}

/* 소메뉴 액션 및 개별 설정 */
#gnb li:first-child:hover .d2{
    height: calc( 1.2rem * 2.5 * 6 ) ;
}
#gnb li:nth-child(2):hover .d2{
    height: calc( 1.2rem * 2.5 * 3 ) ;
}
#gnb li:nth-child(3):hover .d2{
    height: calc( 1.2rem * 2.5 * 6 ) ;
}
#gnb li:last-child:hover .d2{
    height: calc( 1.2rem * 2.5 * 5 ) ;
}






